#!/bin/bash

# interface used for cobbler
cobbler_interface="br-pxe"
cobbler_ip1="`ip a sh $cobbler_interface | grep 'inet ' | awk '{print $2}'`"
cobbler_ip=${cobbler_ip1%'/'*}

#pxe subnet information
pxe_subnet=172.22.4.0
pxe_mask=255.255.252.0
pxe_gateway=172.22.4.1
dhcp_range=172.22.4.50,172.22.7.254

# Set the default preseed device name.
#  This is being set because sda is on hosts, vda is kvm, xvda is xen.
DEVICE_NAME="${DEVICE_NAME:-vda}"

# This is set to instruct the preseed what the default network is expected to be
DEFAULT_NETWORK="${DEFAULT_NETWORK:-eth0}"


